EDA/.ipynb_checkpoints/
.ipynb_checkpoints
LR from scratch/__pycache__/LinearRegression.cpython-312.pyc
Logistic regression/__pycache__/LogisticRegression.cpython-310.pyc
anaconda_projects/db/project_filebrowser.db
.virtual_documents/House price prediction/house price prediction.ipynb
